<%- include('../partials/header') %>
    
    
  <div class="container">
    <form id="facilityForm" action="/facilities/<%=facility.id%>?_method=PUT" method="POST">
      <div>
        <label for="global_id">Global ID:</label>
        <input type="text" id="global_id" 
          name="facility[global_id]" 
          value="<%=facility.global_id%>"
        >
      </div>
      <div>
        <label for="facility_id">Facility ID:</label>
        <input type="text" id="facility_id" 
          name="facility[facility_id]" 
          value="<%=facility.facility_id%>"
        >
      </div>
      <div>
        <label for="facility_name">Facility Name:</label>
        <input type="text" id="facility_name" 
          name="facility[facility_name]"
          value="<%=facility.facility_name%>"
        >
      </div>
      <div>
        <label for="division">Division:</label>
        <input type="text" id="division" 
          name="facility[division]" 
          value="<%=facility.division%>"
        >
      </div>
      <div>
        <label for="operating_group">Operating Group:</label>
        <input type="text" id="operating_group" 
          name="facility[operating_group]" 
          value="<%=facility.operating_group%>"
        >
      </div>
      <div>
        <label for="region">Region:</label>
        <input type="text" id="region" 
          name="facility[region]" 
          value="<%=facility.region%>"
        >
      </div>
      <div>
        <label for="billing_group">Billing Group:</label>
        <input type="text" id="billing_group" 
          name="facility[billing_group]" 
          value="<%=facility.billing_group%>"
        >
      </div>
      <div>
        <label for="mac">MAC:</label>
        <input type="text" id="mac" 
          name="facility[mac]" 
          value="<%=facility.mac%>"
        >
      </div>
      
      <button id="submitFacility">Submit</button>
    </form>
    
    <a href="/facilities/<%=facility.id%>">Back to Facility</a>
    
  </div>
  

<%- include('../partials/footer') %>
